* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --primary-color: #ff4904;
  --primary-hover-color: #bf5934;
  --section-bg-color-dark: #3a3a4f;
  --section-bg-color-light: #f3f3f3;
  --text-color: #272727;
  --font-size-large: 7.2rem;
  --font-size-big: 4.6rem;
  --font-size-medium: 3.2rem;
  --font-size-small: 2.4rem;
  --font-size-xsmall: 1.8rem;
  --box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  --section-spacing: 16rem;
}

@media (max-width: 1400px) {
  :root {
    --font-size-large: 6.4rem;
  }
}

@media (max-width: 1999px) {
  :root {
    --font-size-big: 4rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --section-spacing: 8rem;
  }
}

@media (max-width: 991px) {
  :root {
    --font-size-large: 5.2rem;
  }
}

@media (max-width: 767px) {
  :root {
    --font-size-large: 4.6rem;
    --font-size-big: 3.6rem;
    --section-spacing: 6rem;
  }
}

@media (max-width: 575px) {
  :root {
    --font-size-large: 4rem;
    --font-size-medium: 2.8rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  background-color: #fafafa;
  font-family: var(--secondary-font-family);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

p {
  line-height: 1.5;
}

/* common css starts */

.container {
  position: relative;
  max-width: 126rem;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media (max-width: 1199px) {
  .container {
    max-width: 96rem;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 72rem;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 54rem;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.font-size-large {
  font-size: var(--font-size-large);
}

.font-size-big {
  font-size: var(--font-size-big);
  line-height: 1.4;
}

.font-size-medium {
  font-size: var(--font-size-medium);
  line-height: 1.4;
}

.font-size-small {
  font-size: var(--font-size-small);
  font-weight: 500;
}

.font-size-xsmall {
  font-size: var(--font-size-xsmall);
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--primary-color);
  letter-spacing: 0.1rem;
  text-decoration: none;
  height: 5.2rem;
  width: 28rem;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--primary-hover-color);
}

.primary-btn-with-icon .fa-solid {
  position: relative;
  left: 0;
  margin-left: 1.6rem;
  transition: left 0.4s;
}

.primary-btn-with-icon:hover .fa-solid,
.primary-btn-with-icon:focus .fa-solid {
  left: 1.2rem;
}

.image-size-fit > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-spacing {
  margin-bottom: var(--section-spacing);
}

.section-header {
  margin-bottom: 8rem;
}

@media (max-width: 991px) {
  .section-header {
    margin-bottom: 4rem;
  }
}

.section-top-meta {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  margin-bottom: 0.4rem;
}

.adjust-swiper-pagination {
  padding-bottom: 4rem;
}

.adjust-swiper-pagination .swiper-pagination {
  bottom: 0;
}

.adjust-swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary-color);
}

.adjust-bg-image {
  position: relative;
}

.adjust-bg-image::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: var(--section-bg-color-dark);
  opacity: 0.7;
}

.adjust-bg-image > img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.section-title {
  margin-bottom: 1.6rem;
}

.section-description {
  margin-bottom: 4rem;
}

@media (max-width: 767px) {
  .section-description {
    margin-bottom: 3.2rem;
  }
}

.bg-hover-effect {
  background-color: #fff;
}

.bg-hover-effect,
.bg-hover-effect .fa-solid {
  transition: 0.45s;
}

.bg-hover-effect .fa-solid {
  color: var(--primary-color);
}

.bg-hover-effect:hover,
.bg-hover-effect:focus {
  color: #fff;
  background-color: var(--primary-hover-color);
}

.bg-hover-effect:hover .fa-solid,
.bg-hover-effect:focus .fa-solid {
  color: #fff;
}

.section-header-with-carousel,
.section-header-with-carousel .section-header-item:last-child,
.carousel-btn {
  display: flex;
  align-items: center;
}

.section-header-with-carousel {
  justify-content: space-between;
}

.section-header-with-carousel .section-header-item:last-child {
  gap: 2.4rem;
}

.section-header-with-carousel .header-title {
  color: #fff;
}

.header-split-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem;
}

.header-split-content .header-title {
  max-width: 40%;
}

.header-split-content .header-description {
  font-size: 1.8rem;
  align-self: flex-end;
  max-width: 50%;
}

@media (max-width: 991px) {
  .header-split-content .header-title,
  .header-split-content .header-description {
    max-width: 100%;
  }
}

.section-grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media (max-width: 1199px) {
  .section-grid-three {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .section-grid-three {
    grid-template-columns: 1fr;
  }
}

.section-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2.4rem;
  box-shadow: var(--box-shadow);
}

.text-center {
  text-align: center;
}

/* common css ends */

.navbar-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  font-family: var(--primary-font-family);
  font-size: 2.8rem;
  line-height: 1.2;
}

.nav-details,
.nav-lists,
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-details {
  gap: 3.2rem;
}

.nav-lists li {
  font-size: 1.4rem;
  font-weight: 500;
  list-style: none;
}

.nav-buttons button {
  background-color: transparent;
  font-size: 1.4rem;
  line-height: 1.2;
}

.nav-buttons button.btn-search-close {
  font-size: 1.8rem;
}

.btn-search-close,
.search-active .btn-search {
  display: none;
}

.search-form {
  display: none;
  position: absolute;
  top: 4rem;
  right: 2.4rem;
  height: 4rem;
  padding: 1.6rem;
  border: 0;
  outline: 0;
  background-color: #f5f5f5;
  border-radius: 0.8rem;
  z-index: 10;
}

.search-active .search-form,
.search-active .btn-search-close {
  display: block;
}

.hero-section {
  position: relative;
  height: 100vh;
  color: #fff;
}

@media (max-width: 1024px) {
  .hero-section {
    height: 76rem;
  }
}

@media (max-width: 991px) {
  .hero-section {
    height: 64rem;
  }
}

.hero-section .container {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  right: 0;
}

.hero-detail {
  width: 60%;
}

@media (max-width: 1199px) {
  .hero-detail {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .hero-detail {
    width: 100%;
  }
}

.hero-section .entry-meta {
  display: inline-block;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
  font-size: 1.4rem;
}

.hero-title-highlight {
  color: var(--primary-color);
}

.hero-description {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.partnered-companies {
  --local-section-spacing: 8rem;

  position: relative;
  top: calc(var(--local-section-spacing) * -1);
  margin-bottom: calc(var(--section-spacing) - var(--local-section-spacing));
}

@media (max-width: 767px) {
  .partnered-companies {
    --local-section-spacing: 6rem;
  }
}

@media (max-width: 575px) {
  .partnered-companies {
    --local-section-spacing: 4rem;
  }
}

.partnered-companies-content {
  text-align: center;
  padding: 4rem;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

@media (max-width: 767px) {
  .partnered-companies-content {
    padding: 2.4rem;
  }
}

.partnered-companies-content .header-title {
  margin-bottom: 4.8rem;
}

@media (max-width: 575px) {
  .partnered-companies-content .header-title {
    margin-bottom: 2.4rem;
  }
}

.partnered-companies-detail img {
  height: 4.8rem;
  width: 100%;
  object-fit: contain;
}

.service-item .fa-solid {
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
}

.service-item-title {
  margin-bottom: 1.6rem;
}

.about-us-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media (max-width: 1199px) {
  .about-us-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .about-us-content {
    grid-template-columns: 1fr;
  }
}

.about-us-sub-item {
  display: flex;
  gap: 2.4rem;
  background-color: #fff;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
  transition: 0.45s;
}

@media (max-width: 575px) {
  .about-us-sub-item {
    flex-direction: column;
  }
}

.about-us-sub-item:last-child {
  margin-bottom: 0;
}

.about-us-sub-item .fa-solid {
  position: relative;
  top: 0.4rem;
  font-size: 3.2rem;
}

.sub-detail-title {
  margin-bottom: 0.8rem;
}

.about-us-content .about-us-item img {
  width: 100%;
  object-fit: cover;
}

.about-us-content .about-us-item:nth-child(2) img {
  height: 100%;
}

@media (max-width: 1199px) {
  .about-us-content .about-us-item:nth-child(2) img {
    height: 66.5rem;
  }
}

@media (max-width: 991px) {
  .about-us-content .about-us-item:nth-child(2) img {
    height: 44rem;
  }
}

.about-us-secondary-title {
  line-height: 1.4;
  margin-bottom: 1.6rem;
}

.about-us-secondary-description {
  margin-bottom: 2.4rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-us-content .about-us-item:last-child {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    grid-column: 1 / -1;
  }

  .about-us-content .about-us-item:last-child > * {
    flex: 1;
  }
}

.about-us-detail {
  margin-bottom: 4rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-us-detail {
    margin-bottom: 0;
  }
}

.about-us-content .about-us-item:nth-child(3) img {
  height: 37.4rem;
}

@media (max-width: 991px) {
  .about-us-content .about-us-item:nth-child(3) img {
    height: 32rem;
  }
}

.carousel-btn {
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: #fff;
  background-color: var(--primary-hover-color);
}

.our-projects {
  background-color: rgb(58, 58, 79, 0.7);
  padding: 12rem 0;
}

@media (max-width: 1024px) {
  .our-projects {
    padding: 8rem 0;
  }
}

.our-project-item {
  position: relative;
  height: 48rem;
  overflow: hidden;
}

@media (max-width: 991px) {
  .our-project-item {
    height: 40rem;
  }
}

@media (max-width: 575px) {
  .our-project-item {
    height: 36rem;
  }
}

.our-project-item > img {
  transform: scale(1);
  transition: 0.45s;
}

.our-project-item:hover > img,
.our-project-item:focus > img {
  transform: scale(1.2);
}

.our-project-detail {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  text-align: center;
  opacity: 0;
  transition: 0.45s;
}

.our-project-item:hover .our-project-detail,
.our-project-item:focus .our-project-detail {
  opacity: 1;
}

.our-projects-content .swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: inherit;
  bottom: -4rem;
}

.our-projects-content
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background-color: var(--primary-color);
}

.our-projects-content .swiper-pagination-progressbar {
  background-color: #fff;
}

@media (min-width: 768px) {
  .sparksync-statistics {
    margin-bottom: calc(var(--section-spacing) + 6rem);
  }
}

.statistics-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .statistics-content {
    flex-direction: column;
  }
}

.statistics-item:first-child {
  width: 40%;
}

.statistics-item:last-child {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

@media (max-width: 1199px) {
  .statistics-item:last-child {
    width: 55%;
  }
}

@media (max-width: 991px) {
  .statistics-item:first-child,
  .statistics-item:last-child {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .statistics-item:last-child {
    margin-top: 4rem;
  }
}

@media (max-width: 575px) {
  .statistics-item:last-child {
    grid-template-columns: 1fr;
  }
}

.statistics-count {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  padding: 4rem;
  min-height: 24rem;
  box-shadow: var(--box-shadow);
}

@media (max-width: 767px) {
  .statistics-count {
    padding: 2.4rem;
    min-height: 16rem;
  }
}

@media (min-width: 768px) {
  .statistics-count:first-child,
  .statistics-count:nth-child(3) {
    position: relative;
    top: 6rem;
  }
}

.statistics-count .fa-solid {
  font-size: 3.2rem;
}

.statistics-count-title {
  font-weight: 400;
}

.statistics-count-number {
  font-size: 2.4rem;
  font-weight: 600;
}

.sparksync-testimonial {
  position: relative;
  padding-top: 6rem;
}

.sparksync-testimonial::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  background-color: var(--section-bg-color-dark);
}

.testimonial-item {
  background-color: #fff;
  padding: 1.6rem;
}

.testimonial-item-top,
.testimonial-top-content {
  display: flex;
  align-items: center;
}

.testimonial-item-top {
  justify-content: space-between;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.testimonial-top-content:first-child {
  gap: 1.6rem;
}

.testimonial-top-content:last-child {
  gap: 0.4rem;
}

.testimonial-top-content .fa-solid {
  color: #ffa41c;
}

.testimonial-user-name {
  margin-bottom: 0.4rem;
  font-weight: 500;
}

.top-content-image {
  height: 8rem;
  width: 8rem;
}

.top-content-image img {
  border-radius: 50%;
}

.work-steps-item {
  position: relative;
}

@media (min-width: 1200px) {
  .work-steps-item:not(:first-child)::before {
    position: absolute;
    content: "";
    top: 1.8rem;
    right: 100%;
    height: 0.1rem;
    width: 100%;
    background-color: var(--section-bg-color-dark);
    z-index: -1;
  }
}

.work-step-count {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--section-bg-color-dark);
  padding: 0.8rem 2rem;
  margin-bottom: 1.6rem;
}

.word-steps-description {
  margin-top: 1.6rem;
}

.work-steps .section-body-bottom {
  position: relative;
  margin-top: 4rem;
  height: 58rem;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 991px) {
  .work-steps .section-body-bottom {
    height: 42rem;
  }
}

@media (max-width: 767px) {
  .work-steps .section-body-bottom {
    height: 32rem;
  }
}

.work-steps .section-body-bottom::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: var(--section-bg-color-dark);
  opacity: 0.7;
}

.work-steps .section-body-bottom .fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #fff;
  font-size: 6.4rem;
  z-index: 10;
}

.work-steps .section-body-bottom:hover .fa-solid,
.work-steps .section-body-bottom:focus .fa-solid {
  color: var(--primary-hover-color);
}

.work-steps .section-body-bottom > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work-steps-popup {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  transition: top 0.45s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.work-steps-popup.active {
  top: 0;
}

.popup-content {
  position: relative;
}

@media (max-width: 767px) {
  .popup-content {
    width: 100%;
    text-align: center;
  }
}

.work-steps-popup iframe {
  height: 56rem;
  width: 96rem;
}

@media (max-width: 1199px) {
  .work-steps-popup iframe {
    width: 88rem;
  }
}

@media (max-width: 991px) {
  .work-steps-popup iframe {
    height: 48rem;
    width: 68rem;
  }
}

@media (max-width: 767px) {
  .work-steps-popup iframe {
    height: 40rem;
    width: calc(100% - 2.4rem);
    margin: 0 auto;
  }
}

.work-steps-popup .fa-solid {
  position: absolute;
  top: -6rem;
  right: 0;
  color: #fff;
  font-size: 3.2rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .work-steps-popup .fa-solid {
    right: 2.4rem;
  }
}

.work-steps-popup .fa-solid:hover,
.work-steps-popup .fa-solid:focus {
  color: var(--primary-hover-color);
}

.our-blog-image {
  height: 32rem;
  width: 100%;
  object-fit: cover;
}

.our-blog-title {
  margin: 1.6rem 0;
}

.our-team-item {
  position: relative;
  z-index: 10;
}

.our-team-item::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  visibility: hidden;
  transition: 0.45s;
}

.our-team-item img {
  height: 52rem;
  width: 100%;
  object-fit: cover;
}

.our-team-detail {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 2.4rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s;
}

.swiper-slide-active .our-team-item::before,
.swiper-slide-active .our-team-detail {
  opacity: 1;
  visibility: visible;
}

.team-detail-sub-title {
  display: inline-block;
  font-weight: 500;
  margin: 0.8rem 0 1.6rem;
}

.team-detail-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2rem;
}

.team-detail-links a {
  color: #fff;
}

.team-detail-links a:hover,
.team-detail-links a:focus {
  color: var(--primary-hover-color);
}
